aiohttp==3.9.3
beautifulsoup4==4.12.3
Flask==3.0.3
flask_dance==7.1.0
Flask_Login==0.6.3
Flask_Migrate==4.0.7
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
grpcio==1.65.4
langchain==0.2.13
langchain_chroma==0.1.2
langchain_community==0.2.12
langchain_core==0.2.30
langchain_google_genai==1.0.8
langchain_openai==0.1.21
langchain_text_splitters==0.2.2
nest_asyncio==1.6.0
openai_whisper==20231117
pandas==2.2.2
pyannote.audio==3.3.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
python-telegram-bot==21.4
pytrends==4.9.2
Requests==2.32.3
selenium==4.23.1
SQLAlchemy==2.0.29
transformers==4.39.3
watchdog==4.0.2
Werkzeug==3.0.3
whisper==1.1.10
youtube_transcript_api==0.6.2
yt_dlp==2024.8.6
