<footer class="footer">
    <div class="privacy-terms">
        <a href="/privacy">Privacy terms</a>
        <a href="/appterms">Services terms</a>
    </div>
    <div class="social-media">
        <a href="https://facebook.com"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
        <a href="https://twitter.com"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"></a>
        <a href="https://instagram.com"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram"></a>
    </div>
    <div class="copyright">
        <p>Powered by:</p>
    </div>
    <div class="logos">
        <img style="height:30px; width: auto; margin: 0 8px;" src="{{ url_for('static', filename='images/openaI.png') }}" alt="OpenAI">
        <img style="height:30px; width: auto; margin: 0 8px;" src="{{ url_for('static', filename='images/llama3.png') }}" alt="Llama3">
        <img style="height:30px; width: auto; margin: 0 8px;" src="{{ url_for('static', filename='images/google.png') }}" alt="Google Gemni">
        <img style="height:30px; width: auto; margin: 0 8px;" src="{{ url_for('static', filename='images/langchain.png') }}" alt="Langchain">
        <img style="height:30px; width: auto; margin: 0 8px;" src="{{ url_for('static', filename='images/11lab.png') }}" alt="Stable Diffusion">
    </div>
    <div class="copyright">
        <p>&copy; 2024 Alpha AI LLC </p>
    </div>
</footer>
